<!DOCTYPE html>
<html>
    <head lang="en" dir="ltr">
        <meta charset="utf-8">
        <title>Travel App</title>
    </head>
    <body>
        <header>
            <h1>Travel Planner</h1>
        </header>

        <main>

            <div class="tripCard">

                <img id="tripImage" src="./images/girl_in_a_boat.jpg" alt="an image of a girl in a boat">
                <div class="content">
                    <div class="inputBox">
                        <label for="cityName">My trip to:</label>
                        <input id="cityName" type="text">
                    </div><br>

                    <div class="inputBox">
                        <label for="departingDate">Departing:</label>
                        <input id="departingDate" type="date">
                    </div><br>
                   
                    <div class="buttons">
                        <button id="save">save trip</button>
                        <button id="remove"> remove trip</button>
                    </div>
                    
                    <h3 id="daysAway">france is 220 days away</h3>
        
                    <h3>typical weather for then</h3>
                    <p id="temp">high- , low-</p>
                    <p id="desc">clowdy</p>
                </div>
                
            </div>
            
        </main>

        <footer>
            <p>this is a footer</p>
        </footer>

    </body>
</html>