html{
    width: 100vw;
    height: 100vh;
}

body{
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
    "hdr hdr hdr"
    "mainBody mainBody mainBody"
    "ftr ftr ftr";
}

@media screen and (max-width: 980px) {
    body{
        height: 100vh;
    }
}